menuconfig MODULES_AUTOMATION_TASK
	bool "automation_task"
	default n
	---help---
		Enable support for automation_task

menuconfig USER_AUTOMATION_TASK
	bool "automation_task running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_AUTOMATION_TASK
	---help---
		Put automation_task in userspace memory

menuconfig MODE_AUTOMATION_VTOL_TAKEOFF
	bool "Include VTOL takeoff mode support"
	default n
	depends on MODULES_AUTOMATION_TASK
	---help---
		Add VTOL takeoff mode to enable support for MAV_CMD_NAV_VTOL_TAKEOFF.
		The VTOL takes off in MC mode and transition to FW. The mode ends with
		an infinite loiter

menuconfig NAVIGATOR_ADSB
	bool "Include traffic reporting and avoidance"
	default y
	depends on MODULES_AUTOMATION_TASK
	---help---
		Add support for acting on ADSB transponder_report or ADSB_VEHICLE MAVLink messages.
		Actions are warnings, Loiter, Land and RTL without climb.

menuconfig NUM_MISSION_ITMES_SUPPORTED
	int "Maximum number of mission items"
	default 500
	depends on MODULES_AUTOMATION_TASK
	---help---
		This limit always applies if mission items are stored on the SD card or in RAM. It should be set
		adequately per boards such that if the items are stored in RAM they still fit the available memory.
		The runtime parameter to configure the storage option is `SYS_DM_BACKEND`.
